
<!DOCTYPE html>

<html lang="es">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de asignaciones</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/metropolitana/js/asignacion.js" ></script>
</head>
<body>
    <form runat="server">

        <div class="container body-content">
            <div class="jumbotron">
                <h1>Panel de asignaciones</h1>
                <p class="lead">Desde esta sección usted podrá asignar cuotas de trabajo para cada una de las actividades de los gestores</p>

            </div>
            <div class="row">
                <div class="col-lg-2"><span class="label label-info">1</span> Seleccione la zona</div>
                <div class="col-lg-4">
                    <select id="zonas" runat="server" class="form-control">
                        <option value="0">---</option>
                    {% for z in zonas %}
                        <option value="{{ z.id }}">{{ z.code }} - {{ z.name }}</option>
                    {% endfor %}
                    </select>

                </div>
                <div class="col-lg-2"><span class="label label-info">2</span> Seleccione el gestor</div>
                <div class="col-lg-4">
                    <select id="usuarios" runat="server" class="form-control">
                        <option value="0">---</option>
                    </select>

                </div>
            </div>
            <br />
            <div>
                <div class="panel panel-default">
                    <div class="panel-body" id="panelEntrega" >
                        <div class="alert alert-info">En esta sección usted podrá asignar la cantidad de entregas del gestor hasta una cantidad maxima de x entregas

                        </div>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Barrio</th>
                                    <th>Entregas</th>
                                    <th>Cobros</th>
                                    <th>Verificaciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" style="width:200px"><a>Entrega actual <span class="badge" id="asignacionActual">0</span></a></li>
                            <li role="presentation" style="width:200px"><a>Entrega pendiente <span class="badge" id="asignacionPendiente">3</span></a></li>
                            <li role="presentation" style="width:200px" class="active"><a> Entrega total<span class="badge" id="asignacionTotal">3</span></a></li>
                        </ul>
                        <br />
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" style="width:200px"><a>Cobros actual <span class="badge" id="cobroActual">0</span></a></li>
                            <li role="presentation" style="width:200px"><a>Cobros pendiente <span class="badge" id="cobroPendiente">3</span></a></li>
                            <li role="presentation" style="width:200px" class="active"><a> Cobros total<span class="badge" id="cobroTotal">3</span></a></li>
                        </ul>
                        <br />
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" style="width:200px"><a>Verificación actual <span class="badge" id="verfiActual">0</span></a></li>
                            <li role="presentation" style="width:200px"><a>Verificación pendiente <span class="badge" id="verfPendiente">3</span></a></li>
                            <li role="presentation" style="width:200px" class="active"><a> Verificación total<span class="badge" id="verfTotal">3</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <footer>
                <p>&copy; - Multipagos </p>
            </footer>
        </div>
    </form>
</body>
</html>
