
<!DOCTYPE html>

<html lang="es">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel de asignaciones</title>


    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>
<body>
    <form runat="server">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



        <div class="container body-content">
            <div class="jumbotron">
                <h1>Panel de asignaciones</h1>
                <p class="lead">Desde esta sección usted podrá asignar cuotas de trabajo para cada una de las actividades de los gestores</p>

            </div>
            <div class="row">
                <div class="col-lg-2"><span class="label label-info">1</span> Seleccione la zona</div>
                <div class="col-lg-4">
                    <select id="zonas" runat="server" class="form-control">
                        <option value="0">---</option>
                    {% for z in zonas %}
                        <option value="{{ z.id }}">{{ z.code }} - {{ z.name }}</option>
                    {% endfor %}
                    </select>

                </div>
                <div class="col-lg-2"><span class="label label-info">2</span> Seleccione el gestor</div>
                <div class="col-lg-4">
                    <select id="usuarios" runat="server" class="form-control">
                        <option value="0">---</option>
                        {% for u in users %}
                        <option value="{{ u.id }}">{{ u.username }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>
            <br />
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading"><div class=""></div>

                         <div class="btn-group pull-right">
                             <a class="btn btn-info btn-sm" data-toggle="collapse" data-target="#panelEntrega">Ver</a>
                         </div>
                        <h3 class="panel-title">Entregas</h3>
                        <br />
                    </div>
                    <div class="panel-body" id="panelEntrega" >
                        <div class="alert alert-info">En esta sección usted podrá asignar la cantidad de entregas del gestor hasta una cantidad maxima de x entregas

                        </div>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Barrio</th>
                                    <th>Entregas</th>
                                    <th>Cobros</th>
                                    <th>Verificaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% load logistica %}
                            {% get_barrios as barrios where_zona_is 22 %}
                            {% for b in barrios %}
                                <tr>
                                    <td>{{ b.name }}<input type="hidden" name="barrio_id" value="{{ b.id }}"/></td>
                                    <td>
                                        <div class="input-group input-sm"  style="width:180px">
                                            <span class="input-group-addon">{{ b.entregas_pendiente }}</span>
                                            <input type="number" name="inputentrega" class="form-control tableinput">
                                            <span class="input-group-addon"><input type="checkbox" class="ckSelectAll"/></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group input-sm"  style="width:180px">
                                            <span class="input-group-addon">{{ b.cobranza_pendiente }}</span>
                                            <input type="number" name="inputcobro" class="form-control tableinput" >
                                            <span class="input-group-addon"><input type="checkbox" class="ckSelectAll"/></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group input-sm"  style="width:180px">
                                            <span class="input-group-addon">{{ b.verificaciones_pendiente }}</span>
                                            <input type="number" name="inputverificacion" class="form-control tableinput" >
                                            <span class="input-group-addon"><input type="checkbox" class="ckSelectAll"/></span>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" style="width:200px"><a>Entrega actual <span class="badge" id="asignacionActual">0</span></a></li>
                            <li role="presentation" style="width:200px"><a>Entrega pendiente <span class="badge" id="asignacionPendiente">3</span></a></li>
                            <li role="presentation" style="width:200px" class="active"><a> Entrega total<span class="badge" id="asignacionTotal">3</span></a></li>
                        </ul>
                        <br />
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" style="width:200px"><a>Cobros actual <span class="badge" id="cobroActual">0</span></a></li>
                            <li role="presentation" style="width:200px"><a>Cobros pendiente <span class="badge" id="cobroPendiente">3</span></a></li>
                            <li role="presentation" style="width:200px" class="active"><a> Cobros total<span class="badge" id="cobroTotal">3</span></a></li>
                        </ul>
                        <br />
                        <ul class="nav nav-pills" role="tablist">
                            <li role="presentation" style="width:200px"><a>Verificación actual <span class="badge" id="verfiActual">0</span></a></li>
                            <li role="presentation" style="width:200px"><a>Verificación pendiente <span class="badge" id="verfPendiente">3</span></a></li>
                            <li role="presentation" style="width:200px" class="active"><a> Verificación total<span class="badge" id="verfTotal">3</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <footer>
                <p>&copy; - Multipagos </p>
            </footer>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('.tableinput').change(function () { sumValues(); });
                $('.ckSelectAll').change(function () {
                    if ($(this).is(':checked') == true) {
                        var cant = $(this).closest('div').find('.input-group-addon').first().text();
                        $(this).closest('div').find('input').first().val(cant);
                        $(this).closest('div').find('input').first().prop('disabled', true);
                    }
                    else
                        $(this).closest('div').find('input').first().prop('disabled', false);

                    sumValues();
                })
            });

            function sumValues() {

                $('.table').each(function () {
                    var totalasignacionActual = 0;
                    var totalcobroActual = 0;
                    var totalverifActual = 0;
                    $(this).find('input[name=inputentrega]').each(function () {
                        if (!isNaN($(this).val()) && $(this).val()!="")
                            totalasignacionActual += parseInt($(this).val());
                    });
                    $(this).find('input[name=inputcobro]').each(function () {
                        if (!isNaN($(this).val()) && $(this).val() != "")
                            totalcobroActual += parseInt($(this).val());
                    });
                    $(this).find('input[name=inputverificacion]').each(function () {
                        if (!isNaN($(this).val()) && $(this).val() != "")
                            totalverifActual += parseInt($(this).val());
                    });

                    $('#asignacionActual').text(totalasignacionActual);
                    $('#cobroActual').text(totalcobroActual);
                    $('#verfiActual').text(totalverifActual);

                    var asignacion=0;
                    var cobro=0;
                    var verif=0;

                    asignacion = parseInt($('#asignacionPendiente').text());
                    cobro = parseInt($('#cobroPendiente').text());
                    verif = parseInt($('#verfPendiente').text());

                    $('#asignacionTotal').text(totalasignacionActual+asignacion);
                    $('#cobroTotal').text(totalcobroActual+cobro);
                    $('#verfTotal').text(totalverifActual+verif);

                });
            }
            function selectAll(control) {
                if (control.checked) {
                    alert("cheked");
                }
            }
        </script>
    </form>
</body>
</html>
