<!DOCTYPE html PUBLIC "Metropolitana Distribucion">
<html>
    <head>
        <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
        <link href="/static/metropolitana/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/static/metropolitana/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
    </head>
    <body>
        <div class="well">
            <table class="table table-hober table-striped">
                <tbody>
                {% for d in data %}
                <tr>
                    <td>{{d.archivo}}</td>
                    <td>{{d.cantidad}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>