{% extends "home/base.html" %}

{% block name %}Panel de Asignacion de Tareas{% endblock name %}

{% block active %}asignacion{% endblock active %}

{% block extrahead %}
<script type="text/javascript" src="/static/metropolitana/js/asignacion.js"></script>
<script src="/static/metropolitana/js/moment-with-locales.js"></script>
<script src="/static/metropolitana/js/bootstrap-datepicker.js"></script>
<script src="/static/metropolitana/js/bootstrap-datepicker.es.js"></script>
{% endblock extrahead %}


{% block content %}
{% if profile.is_supervisor %}
<form runat="server" method="post" action".">
{% csrf_token %}
<div>
    <div class="panel panel-default">
        <div class="panel-body" id="panelEntrega">
            <div class="alert alert-{{ msgclass }}">
                {{ mensaje }}
            </div>
            <div style="max-height:400px; overflow-y:auto;">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Barrio</th>
                            <th>Entregas</th>
                            <th>Cobros</th>
                            <th>Verificaciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-10 col-md-10"><span class="label label-info">1</span> Seleccione la zona</div>
                        <div class="col-lg-10 col-md-10">
                            <select id="zonas" runat="server" class="form-control" name="zona">
                                <option selected disabled value="0">---</option>
                                {% for z in zonas %}
                                <option value="{{ z.id }}">{{ z.code }} - {{ z.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="col-lg-10 col-md-10"><span class="label label-info">2</span> Seleccione el gestor</div>
                        <div class="col-lg-10 col-md-10">
                            <select id="usuario" runat="server" class="form-control" name="usuario" required="required">
                                <option selected disabled value="0">---</option>
                            </select>
                        </div>
                        <div class="col-lg-10 col-md-10"><span class="label label-info">3</span> Seleccione la fecha</div>
                        <div class="col-lg-10 col-md-10">
                            <div class="form-group">
                                <div class='input-group date' id='datepicker' name="picker">
                                    <input type='text' class="form-control" name="fecha" id="dtpFecha" required />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <input type="hidden" id="asignacionActual" />
                    <input type="hidden" id="asignacionPendiente" />
                    <input type="hidden" id="cobroActual" />
                    <input type="hidden" id="cobroPendiente" />
                    <input type="hidden" id="verfiActual" />
                    <input type="hidden" id="verfPendiente" />

                    <ul class="nav nav-pills" role="tablist">
                        <!--<li role="presentation" style="width:200px;visibility"><a>Entrega actual <span class="badge">0</span></a></li>
<li role="presentation" style="width:200px;"><a>Entrega pendiente <span class="badge">0</span></a></li>-->
                        <li role="presentation" style="width:200px" class="active"><a> Entrega total<span class="badge" id="asignacionTotal">0</span></a></li>
                    </ul>
                    <br />
                    <ul class="nav nav-pills" role="tablist">
                        <!--<li role="presentation" style="width:200px;"><a>Cobros actual <span class="badge">0</span></a></li>
<li role="presentation" style="width:200px;"><a>Cobros pendiente <span class="badge">0</span></a></li>-->
                        <li role="presentation" style="width:200px" class="active"><a> Cobros total<span class="badge" id="cobroTotal">0</span></a></li>
                    </ul>
                    <br />
                    <ul class="nav nav-pills" role="tablist">
                        <!--<li role="presentation" style="width:200px;"><a>Verificación actual <span class="badge">0</span></a></li>
<li role="presentation" style="width:200px;"><a>Verificación pendiente <span class="badge">0</span></a></li>-->
                        <li role="presentation" style="width:200px" class="active"><a> Verificación total<span class="badge" id="verfTotal">0</span></a></li>
                    </ul>
                    <br />
                </div>
                <div class="col-lg-3">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">
                            <h4 class="list-group-item-heading"><span class="fa fa-clock-o" /> Horas en distribución</h4>
                            <p class="list-group-item-text" id="horasdistribucion">horas</p>
                        </li>
                        <li class="list-group-item list-group-item-warning">
                            <h4 class="list-group-item-heading"><span class="fa fa-clock-o" /> Horas en cobranza</h4>
                            <p class="list-group-item-text" id="horascobro">horas</p>
                        </li>
                        <li class="list-group-item list-group-item-success">
                            <h4 class="list-group-item-heading"><span class="fa fa-clock-o" /> Horas en verificacion</h4>
                            <p class="list-group-item-text" id="horasveficicacion">horas</p>
                        </li>
                        <li class="list-group-item list-group-item-default">
                            <h4 class="list-group-item-heading"><span class="fa fa-clock-o" /> Total horas </h4>
                            <p class="list-group-item-text" id="horastotal">horas</p>
                        </li>
                    </ul>
                </div>
                <input type='submit' class="btn btn-success" value='Asignar Trabajo'>
            </div>
            <br />
        </div>
        <hr />
    </div>
</form>
{% else %}
 <h3>Usted no es un supervisor</h3>
{% endif %}
{% endblock content%}

{% block javascript %}
{% endblock javascript %}
