{% extends "home/base.html" %}

{% block name %}Panel de Asignacion de Tareas{% endblock name %}

{% block active %}asignacion{% endblock active %}

{% block extrahead %}
<script type="text/javascript" src="/static/home/asignacion.js"></script>
<script src="/static/metropolitana/js/moment-with-locales.js"></script>
<script src="/static/metropolitana/js/bootstrap-datepicker.js"></script>
<script src="/static/metropolitana/js/bootstrap-datepicker.es.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://cdn.jsdelivr.net/tipsy/1.0/javascripts/jquery.tipsy.js"></script>
<link rel="stylesheet" type="text/css" href="http://xliberation.com/parse/colortable/css/schemer.css"><link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/tipsy/1.0/stylesheets/tipsy.css">
{% endblock extrahead %}
{% block css %}
path {  stroke: #fff; }
    path:hover {  opacity:0.9; }
    rect:hover {  fill:blue; }
    .axis {  font: 10px sans-serif; }
    .legend tr{    border-bottom:1px solid grey; }
    .legend tr:first-child{    border-top:1px solid grey; }

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .x.axis path {  display: none; }
    .legend{
        margin-bottom:76px;
        display:inline-block;
        border-collapse: collapse;
        border-spacing: 0px;
    }
    .legend td{
        padding:4px 5px;
        vertical-align:bottom;
    }
    .legendFreq, .legendPerc{
        align:right;
        width:50px;
    }
    .tiptable TD
    {
        color:white;
        background-color:green;
        font-size: 14px;
        padding: 1px;
        text-align: center;
    }
    .tipsy-inner {
        min-width: 380px;
    }
    .tiptable-value {
        color:white;
    }
{% endblock css %}

{% block extratools %}
<span class="label label-info">1</span> Seleccione la zona
<select id="zonas" runat="server" class="form-control" name="zona">
    <option selected disabled value="0">---</option>
    {% for z in zonas %}
    <option value="{{ z.id }}">{{ z.code }} - {{ z.name }}</option>
    {% endfor %}
</select>
<span class="label label-info">2</span> Seleccione el gestor
<select id="usuario" runat="server" class="form-control" name="usuario" required="required">
    <option selected disabled value="0">---</option>
</select>
<span class="label label-info">3</span> Seleccione la fecha
<div class="form-group">
    <div class='input-group date' id='datepicker' name="picker">
        <input type='text' class="form-control" name="fecha" id="dtpFecha" required />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>
<input type="hidden" id="asignacionActual" />
<input type="hidden" id="asignacionPendiente" />
<input type="hidden" id="cobroActual" />
<input type="hidden" id="cobroPendiente" />
<input type="hidden" id="verfiActual" />
<input type="hidden" id="verfPendiente" />
<li role="presentation"><a> Entrega total<span class="badge" id="asignacionTotal">0</span></a></li>
<li role="presentation"><a> Cobros total<span class="badge" id="cobroTotal">0</span></a></li>
<li role="presentation"><a> Verificación total<span class="badge" id="verfTotal">0</span></a></li>
<li class="list-group-item list-group-item-info">
    <h4 class="list-group-item-heading"><span class="fa fa-clock-o" /> Horas en distribución</h4>
    <p class="list-group-item-text" id="horasdistribucion">horas</p>
</li>
<li class="list-group-item list-group-item-warning">
    <h4 class="list-group-item-heading"><span class="fa fa-clock-o" /> Horas en cobranza</h4>
    <p class="list-group-item-text" id="horascobro">horas</p>
</li>
<li class="list-group-item list-group-item-success">
    <h4 class="list-group-item-heading"><span class="fa fa-clock-o" /> Horas en verificacion</h4>
    <p class="list-group-item-text" id="horasveficicacion">horas</p>
</li>
<li class="list-group-item list-group-item-default">
    <h4 class="list-group-item-heading"><span class="fa fa-clock-o" /> Total horas </h4>
    <p class="list-group-item-text" id="horastotal">horas</p>
</li>
<input type='submit' class="btn btn-success" value='Asignar Trabajo'>
{% endblock extratools %}


{% block content %}
{% if profile.is_supervisor %}
{% csrf_token %}
<div class="panel-body" id="panelEntrega">
    {% if mensaje %}
    <div class="alert alert-{{ msgclass }}">
        {{ mensaje }}
    </div>
    {% endif %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="header1">Zona</th>
                <th class="header2">Entregas</th>
                <th class="header3">Cobros</th>
                <th class="header4">Cortes</th>
                <th class="header5">Verificaciones</th>
                <th class="header6">Total</th>
            </tr>
        </thead>
        <tbody>
        {% for z in zonas %}
        <tr>
            <td class="name">{{ z.name }}</td>
            <td class="entregas">{{ z.entregas }}</td>
            <td class="cobros">{{ z.cobros }}</td>
            <td class="cortes">{{ z.cortes }}</td>
            <td class="verificaciones">{{ z.verificaciones }}</td>
            <td class="total">{{ z.total }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tbody></tbody>
    </table>
{% else %}
 <h3>Usted no es un supervisor</h3>
{% endif %}
{% endblock content%}

{% block javascript %}
{% endblock javascript %}
