{% extends "home/base.html" %}
{% block name %}Carga de Informacion al Sistema{% endblock name %}
{% block active %}carga{% endblock active %}

{% block css %}
.upload-option:hover, .upload-option h4:hover {
    background-color: #C3F9B1;
    color: black;
}
.upload-option {
    min-height: 200px;
    color: #2fa4e7;
}
{% endblock css %}

{% block content %}
{% if profile.is_supervisor %}
<div class="row">
    <div class="col-md-3">
        <div class=" well upload-option">
            <label>Subir listado de clientes para Distribucion de Facturas</label>
            <a class="btn btn-lg btn-info" href="/admin/digitalizacion/import_paquete/import/" target="blank">
                <span class="glyphicon glyphicon-cloud"></span> Upload
            </a>
            <p>Descarga un Formato en Blanco desde
                <a href="/admin/digitalizacion/import_paquete/export/" target="blank">aqui</a>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class=" well upload-option">
            <label>Subir Cartera de Clientes Morosos</label>
            <a class="btn btn-lg btn-info" href="/admin/cartera/import_model/import/" target="blank">
                <span class="glyphicon glyphicon-cloud"></span> Upload
            </a>
            <p>Descarga un Formato en Blanco desde
                <a href="/admin/cartera/import_model/export/" target="blank">aqui</a>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class=" well upload-option">
            <label>Subir Rebaja de Cartera y Pagos Diarios</label>
            <a class="btn btn-lg btn-info" href="/admin/cartera/rebajacartera/import/" target="blank">
                <span class="glyphicon glyphicon-cloud"></span> Upload
            </a>
            <p>Descarga un Formato en Blanco desde
                <a href="/admin/cartera/rebajacartera/export/" target="blank">aqui</a>
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class=" well upload-option">
            <label>Subir Lista de Clientes para Verificaciones</label>
            <a class="btn btn-lg btn-info" href="/admin/verificaciones/verificacion/import/" target="blank">
                <span class="glyphicon glyphicon-cloud"></span> Upload
            </a>
            <p>Descarga un Formato en Blanco desde
                <a href="/admin/verificaciones/verificacion/export/" target="blank">aqui</a>
            </p>
        </div>
    </div>
</div>
{% else %}
 <h3>Usted no es un supervisor</h3>
{% endif %}
{% endblock content %}
{% block javascript %}{% endblock javascript %}

