{% extends "grappelli:admin/base_site.html" %}

<!-- LOADING -->
{% load i18n grp_tags log %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
{{ block.super }}
{% endblock %}

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
<ul class="grp-horizontal-list">
    <li>{% trans "Home" %}</li>
</ul>
{% endblock %}
{% block content_title %}
{% if title %}
<header><h1>{{ title }}</h1></header>
{% endif %}
{% endblock %}

<!-- CONTENT -->
{% block content %}
{% load puntos %}
{% get_puntos as facturas %}

{% load barrios %}
{% get_barrios_huerfanos as huerfanos %}
<style>

    #map {
        width: 1600px;
        height: 700px;
        margin: 0;
        padding: 0;
    }

    .stations, .stations svg {
        position: absolute;
    }

    .stations svg {
        width: 60px;
        height: 20px;
        padding-right: 100px;
        font: 10px sans-serif;
    }

    .stations circle {
        fill: brown;
        stroke: black;
        stroke-width: 1.5px;
    }

</style>
<h2>Barrios huerfanos</h2>
<table>
<thead>
    <tr>
        <th>Codigo Barrio</th>
        <th>Nombre del Barrio</th>
        <th>Departamento</th>
        <th>Municipio</th>
    </tr>
</thead>
<tbody>
{% for b in huerfanos %}
    <tr>
        <td>{{ b.code }}</td>
        <td>{{ b.name }}</td>
        <td>{{ b.departamento.name }}</td>
        <td>{{ b.municipio.name }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
<div id="map"></div>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script src="https://d3js.org/d3.v3.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/tipsy/1.0/javascripts/jquery.tipsy.js"></script>
<link rel="stylesheet" type="text/css" href="http://xliberation.com/parse/colortable/css/schemer.css"><link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/tipsy/1.0/stylesheets/tipsy.css">
<script>

    var map = new google.maps.Map(d3.select("#map").node(), {
        zoom: 8,
        center: new google.maps.LatLng(12.130634779728421, -86.2261902890624),
        mapTypeId: google.maps.MapTypeId.TERRAIN
    });

    var data = {
        {% for f in facturas %}
    "{{ f.user.username }}-{{ f.hora_entrega }}": [{{ f.position.longitude }},{{ f.position.latitude }},"{{ f.cliente }}"],
        {% endfor %}
    }

    var overlay = new google.maps.OverlayView();


    overlay.onAdd = function() {
        var layer = d3.select(this.getPanes().overlayMouseTarget).append("div")
        .attr("class", "stations");

        overlay.draw = function() {
            var projection = this.getProjection(),
                padding = 10;

            var marker = layer.selectAll("svg")
            .data(d3.entries(data))
            .each(transform) // update existing markers
            .enter().append("svg")
            .each(transform)
            .attr("class", "marker");

            marker.append("circle")
            .attr("r", 4.5)
            .attr("cx", padding)
            .attr("cy", padding);

            marker.append("text")
            .attr("x", padding + 7)
            .attr("y", padding)
            .attr("dy", ".31em")
            .text(function(d) { return d.key; });

            function transform(d) {
                d = new google.maps.LatLng(d.value[1], d.value[0]);
                d = projection.fromLatLngToDivPixel(d);
                return d3.select(this)
                .style("left", (d.x - padding) + "px")
                .style("top", (d.y - padding) + "px");
            }
        };
    };

    overlay.setMap(map);


    google.maps.event.addListener(marker1, "click", function (e) { iw1.open(map, this); });


    $('circle').tipsy({
        gravity: $.fn.tipsy.autoNS,
        html: true,
        delayIn: 500,
        delayOut: 500,
        title: function() {
            console.log(this.__data__);
            return  makeTipsy(this.__data__[2]); }
    });
</script>

{% endblock %}

